<!-- <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand mx-5" href=""> mmovies </a> -->
<!-- <a class="nav-link active mx-5" class="home-nav"aria-current="page" href="#">Home</a> -->

<!-- 
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="navbar-nav">
      <a class="nav-link active" class="home-nav" aria-current="page" href="#">Home</a>
    </div>
    <div>
      <a class="nav-link active" class="home-nav" aria-current="page" href="#">Country</a>
    </div>
    <div>
      <a class="nav-link active" class="home-nav" aria-current="page" href="#">Movies</a>
    </div>
    <div>
      <a class="nav-link active" class="home-nav" aria-current="page" href="#">TV Shows</a>
    </div>
    <div>
      <a class="nav-link active" class="home-nav" aria-current="page" href="#">Top IMDB</a>
    </div>
  </div> -->
<!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled">Disabled</a>
      </div>
    </div> -->
<!-- </ul> -->
<!-- </div> -->


<!--       
        <li class="nav-item">
          <a class="nav-link active mx-5" class="home-nav" aria-current="page" href="#">Genre</a>
        </li>
     

   
        <li class="nav-item">
          <a class="nav-link active mx-5" class="home-nav" aria-current="page" href="#">Country</a>
        </li>
      

     
        <li class="nav-item">
          <a class="nav-link active mx-5" class="home-nav" aria-current="page" href="#">Movies</a>
        </li>
   
   
        <li class="nav-item">
          <a class="nav-link active mx-5" class="home-nav" aria-current="page" href="#">TV Shows</a>
        </li>
      

    
        <li class="nav-item">
          <a class="nav-link active mx-5" class="home-nav" aria-current="page" href="#">Top IMDB</a>
        </li>
      </ul>
    </div> -->
<!-- </div>

</nav> -->
<!-- <router-outlet></router-outlet> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid mx-5">
    <!-- <a class="navbar-brand" href="#">mmovies</a> -->
    <img src="https://fmoviesto.cc/images/group_17/theme_1/logo-light.png" width="150px" alt="Logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active mx-3" aria-current="page" routerLink="/moviesList">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active mx-3" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Genera</a>
          <ul class="dropdown-menu" style="background-color: gray;" aria-labelledby="navbarDropdown" >
            <!-- <option  role="button" *ngFor="let tempgenre of Genre">
              {{ tempgenre.genreName }}
            </option>
            <li><a class="dropdown-item" href="#"*ngFor="let tempgenre of Genre">{{tempgenre.genreName}}</a></li> -->
            <!-- <li><a class="dropdown-item" href="#">Horror</a></li>
            <li><a class="dropdown-item" href="#">Romance</a></li> -->
            <li><a class="dropdown-item" routerLink="/genre/{{tempgenre.genreName}}" routerLinkActive="router-link-active"  *ngFor="let tempgenre of Genre">{{tempgenre.genreName}}</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Country</a>
          <ul class="dropdown-menu" style="background-color: grey;" aria-labelledby="navbarDropdown"  >
            <li><a class="dropdown-item" routerLink="/country/{{tempcountry.countryNames}}" *ngFor="let tempcountry of Countries">{{tempcountry.countryNames}}</a></li>
            <!-- <li><a class="dropdown-item" href="#">India</a></li>
            <li><a class="dropdown-item" href="#">Russian</a></li> -->
          </ul>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link active mx-3" aria-current="page" routerLink="/movies">Movies</a>
        </li> -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Movies</a>
          <ul class="dropdown-menu" style="background-color: grey;" aria-labelledby="navbarDropdown">
            <li><a  *ngIf= "role=='Admin'" class="dropdown-item"    routerLink="/movies">AddMovies</a></li>
            <li><a class="dropdown-item" routerLink="/moviesList">GetAllMovies</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link active mx-3" aria-current="page" href="#">Top IMDB</a>
        </li>
      </ul>


      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input  #myInput type="search" class="form-control form-control-dark" style="border-radius: 20px; float:left;"
          placeholder="Search..." aria-label="Search" (keyup.enter)="doSearch(myInput.value)" >
          <!-- <button routerLink="/movie/{{myInput.value}}" routerLinkActive="router-link-active"  class="au-btn-submit">
            Search
        </button> -->
      </form>
      <app-cart-status></app-cart-status>
      <app-loginstatus></app-loginstatus>
      <!-- <button type="button" class="btn btn" style="color: azure; font-size: 25px;">Login</button> -->
    </div>
  </div>
</nav>
<router-outlet></router-outlet>