/* .navbar-brand{
    padding:1%;
    height: "";
    width: auto;
    /* nav-left: auto; */
/* text-align: left; */
/* color: beige;
    background-color:#00acc1;
    text-transform:uppercase;
    line-height: 20px;
    letter-spacing: 3px;
    text-shadow:3px 3px firebrick;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    border-radius: 8px;
    font-weight: bold;
} */
/* 
.navbar-nav{
    color: aliceblue;
    
    word-spacing: 20px;
    
    padding: 1%;
}  */

.body {
    background-color: black;
}

.navbar-nav {
    font-size: 15px;
}

.fa-search {
    /* background-color: white; */
    color: white;
    opacity: 1;

}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}